/* ============ CABEÇALHO ============ */
h1 {
    background-color: red;
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    
}

/* ============ INDEX ============ */

*{
    background-color: rgb(50, 67, 62);
}

label{
    font-size: 30px;
    font-family: sans-serif;
}

.button{
    background: rgb(43, 43, 116);
    color: whitesmoke;
    font-size: 30px;
    font-family: monospace;
}

input {
    color: rgb(59, 172, 172);
    font-size: 20px;
    font-family:sans-serif;
    background-color: rgb(60, 58, 58);
};

